#intro {
  font-size: 18px; /* Base font size */
}

#intro h2 {
  font-size: 2.5em; /* Larger heading */
  margin-bottom: 15px; /* Adjust spacing */
}

#intro .lead {
  font-size: 1.5em; /* Larger paragraph */
  margin-bottom: 15px; /* Adjust spacing */
}

#intro i {
  font-size: 2em; /* Larger icons */
  margin-right: 10px; /* Space between icons */
}
